{% extends "layout.html" %}

{% block main %}
    <div style="text-align: center;">
        <h1 style="display: flex; align-items: center; justify-content: center; width: 700px; height: 100px; background-color: red; color: white; border-radius: 8px; margin: 20vh auto 7vh; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.426);">        
            Houve um erro ao {{ operation }} o Produto!
        </h1>
        
        <a href="/" style="text-decoration: None; color: aliceblue; text-transform: uppercase;">
            <button style="width: 300px; height: 50px; background-color: blue; border-radius: 30px; color: aliceblue;"> Voltar para a Tela Inicial </button> 
        </a>
    </div>
{% endblock %}