{% extends "layout.html" %}

{% block main %}
    <h1> Portifolio </h1>
    <h2> Sobre: </h2>
    <p> Site construido por Davi Lucciola, como projeto de portifolio para demonstrar meus conhecimentos.</p>
    <h2> Tecnologias: </h2>
    <p> Frontend: HTML e CSS puro </p>
    <p> Backend (Python): Flask e SQLAlchemy + Variaveis de Ambiente para Proteger Dados Sensiveis! </p>
    <div id="Contatos">
        <a href="https://github.com/davi-lucciola">GITHUB</a>
        <a href="https://www.linkedin.com/in/davi-lucciola/">LINKEDIN</a>
    </div>
{% endblock %}