<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Produtos</title>
</head>
<body>
    <div id="app" style="text-align: center; margin-top: 20vh;">
        <h1> Cadastro de Produtos </h1>
        <form action="/register" method="POST">
            <div class="entry">
                <label for="prod_name"> Produto </label> <br>
                <input type="text" name="prod_name">    
            </div>
            
            <div class="entry">
                <label for="price"> Preço </label> <br>
                <input type="number" name="price" >
            </div>

            <input type="submit">
        </form>
    </div>
</body>
</html>